@media screen and (min-width: 500px){
    main {
        
        max-width: 800px;
        /* grid-template-columns: 1fr 1fr 1fr; */
       align-content: center;
        
    }

    .grid {
        margin: 1rem auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        
    }
   

    #menu {
        display: none;
    }

    .navigation {
        flex-direction: row;

    }
    .navigation a {
        display: block;
        flex: 1 1 100%;

    }
}